* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: none;
  color: none;
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: #e0e0e0;
}