body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #d4edda, #c3e6cb);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    position: relative;
}